#!!==============================> No Space Allow in .env <==============================!!

#==============================> Database <==============================
# Doc: https://docs.djangoproject.com/en/4.2/ref/settings/#databases

#===> Postgrest
# DB_ENGINE=django.db.backends.postgresql
# DB_HOST=localhost
# DB_PORT=1003
# DB_NAME=derleng
# DB_USER=postgres
# DB_PASSWORD=secret

#============> Mysql
# DB_ENGINE=django.db.backends.mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=derleng
# DB_USER=root
# DB_PASSWORD=

#============> SQLite
DB_ENGINE=django.db.backends.sqlite3
DB_HOST=
DB_PORT=
DB_NAME=mydatabase
DB_USER=
DB_PASSWORD=

#==============================> API URL <==============================
API_DOMAIN_NAME="https://4012-136-228-145-10.ngrok-free.app"

#==============================> CSRF_TRUSTED_ORIGINS and CORS_ALLOWED_ORIGINS <==============================
# Seperate by each url by ,

FRONTEND_TRUSTED_ORIGINS=http://localhost:8000,http://frontend_host:port
ALLOWED_HOSTS=127.0.0.1,der-leng-ecommerce.onrender.com,api.example.com

#==============================> JWT Key <==============================
SECRET_KEY=d3%#5g-^a!94i-b*@cf6a2c0bd*8!2ubw$%b9$1_2-q&*$9)q6_by_vendara
DEBUG=True

#==============================> Google Auth Key <==============================
client_id=275405827855-hcnqop1ehdi67i59aqk0ugo84o61pkm4.apps.googleusercontent.com
client_secret=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

#==============================> Stripe Key <==============================
STRIPE_PUBLISHABLE_KEY=pk_test_51OZ39KEhnoYmMdGFSvv1RIwpmpTwomgfuDgC8ot0IhZjMQadFcvKCrG9S4WtF4rH8KYAJYXk8KoTLfDS0Ik4PhJM00EkgSHA9W
STRIPE_SECRET_KEY=sk_test_51OZ39KEhnoYmMdGF7p13XMaeYH88r4uMiUKAiI6dwgasyO8cJ3dKCY1VXgkImx6maKtoJHnzrsV9eoRlcYukrkvd00Qze0DlDs
STRIPE_ADMIN_ACCOUNT_ID=abc

#==============================> Stripe Key <==============================
TELGRAM_BOT_TOKEN=7331021581:AAFGulg-DK8oLkFCkta5uNCR5zaCEN7-QfY